# BASE ENVIRONMENT VARABLES
PROMETHEUS_PORT=9000
MCP_PORT=8000
MCP_NAME="Data Explorer MCP"

# MCP SPECIFIC VARIABLES
DB_DATABASES="DATABASE_1,DATABASE_2,DATABASE_3"
DB_HOSTNAME="YOUR DB HOSTNAME"
DB_PASSWORD="YOUR DB PASSWORD"
DB_USERNAME="YOUR DB USER"
DB_DIALECT="YOUR DB DIALECT"
DB_DRIVER="YOUR DB DRIVER"
DB_PORT=YOUR DB PORT