RUNESCAPE_HISCORE_URL=[RS HISCORE URL]
RUNESCAPE_GE_ITEM_ID=[RS GE URL]

RS_DB_USER=[DATABASE USER]
RS_DB_PASSWORD=[DATABASE PASSWORD]
PROD_DB_DIALECT=[DIALECT]
PROD_DB_DRIVER=[DRIVER]
PROD_DB_PORT=[PORT]
PROD_DB_HOSTNAME=[HOSTNAME]
PROD_DB_DATABASE=[DATABASE]

MCP_NAME="RuneScape MCP"
MCP_PORT=8000
PROMETHEUS_PORT=9000
