RUNESCAPE_HISCORE_URL=[RS HISCORE URL]
RUNESCAPE_GE_ITEM_ID_URL=[RS GE URL]

PG_USER=[DATABASE USER]
PG_PASSWORD=[DATABASE PASSWORD]
PG_DIALECT=[DIALECT]
PG_DRIVER=[DRIVER]
PG_PORT=[PORT]
PG_HOSTNAME=[HOSTNAME]
PG_DATABASE=[DATABASE]

MCP_NAME="RuneScape MCP"
MCP_PORT=8000
PROMETHEUS_PORT=9000
